.clusterMarker {
    color: white;
    background: blue;
    opacity: 0.7;
    border-radius: 60%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stopMarker {
    background: none;
    border: none;
}